In [2]:
#Programma Pandas per importare dati excel dal file (employee.xlsx ) in un dataframe Pandas 
# e poi trova tutti quei dipendenti con data di assunzione uguale a 2005
import pandas as pd
import numpy as np

In [9]:
pd.read_excel("Pandas/employee.xlsx")
df = pd.read_excel("Pandas/employee.xlsx")
print(df)

    emp_id   first_name   last_name  hire_date
0      100       Steven        King 2003-06-17
1      101        Neena     Kochhar 2005-09-21
2      102          Lex     De Haan 2001-01-13
3      103    Alexander      Hunold 2006-01-03
4      104        Bruce       Ernst 2007-05-21
5      105        David      Austin 2005-06-25
6      106        Valli   Pataballa 2006-02-05
7      107        Diana     Lorentz 2007-02-07
8      108        Nancy   Greenberg 2002-08-17
9      109       Daniel      Faviet 2002-08-16
10     110         John        Chen 2005-09-28
11     111       Ismael     Sciarra 2005-09-30
12     112  Jose Manuel       Urman 2006-03-07
13     113         Luis        Popp 2007-12-07
14     114          Den    Raphaely 2002-12-07
15     115    Alexander        Khoo 2003-05-18
16     116       Shelli       Baida 2005-12-24
17     117        Sigal      Tobias 2005-07-24
18     118          Guy      Himuro 2006-11-15
19     119        Karen  Colmenares 2007-08-10

In [15]:
df_mod=df['hire_date'].between("2005-01-01", "2005-12-31")
fil_df = df[df_mod]
print(fil_df)

    emp_id first_name last_name  hire_date
1      101      Neena   Kochhar 2005-09-21
5      105      David    Austin 2005-06-25
10     110       John      Chen 2005-09-28
11     111     Ismael   Sciarra 2005-09-30
16     116     Shelli     Baida 2005-12-24
17     117      Sigal    Tobias 2005-07-24