In [2]:
import pandas as pd

In [2]:
gelati = ["limone","fragola","cioccolato"]
pd.Series(gelati)

0        limone
1       fragola
2    cioccolato
dtype: object

In [4]:
#Proviamo a creare una nuova Series questa volta con dei numeri
lotteria = [1,6,4,8,9,7]
pd.Series(lotteria)

0    1
1    6
2    4
3    8
4    9
5    7
dtype: int64

In [5]:
#Proviamo a creare una nuova Series questa volta con dei booleani
registrazioni = [True,False,True,False]
pd.Series(registrazioni)

0     True
1    False
2     True
3    False
dtype: bool

In [6]:
test = [True,1,50,"hello"]
pd.Series(test)

0     True
1        1
2       50
3    hello
dtype: object

In [9]:
#Creiamo una series a partire da un dizionario, ricordiamoci che le coppie interne 
#ad un dizionario sono sempre separate da virgole e sia chiave che valore sono strighe
dizionario = {"007":"film",
             "Brasile":"Nazione",
             "Rabbia":"emozione"}

pd.Series(dizionario)
#Come potete notare sono un po differenti dalle serie che abbiamo appena visto,
#ma vi assicurò che è ancora una serie, la differenza e che gli indici ora sono costituiti
#dalle chiavi del nostro dizionario

007            film
Brasile     Nazione
Rabbia     emozione
dtype: object

# Partiamo a vedere gli attributi

In [18]:
dicono_di_voi = ["Bravi","Attenti","Intelligenti","Brillanti"]
pd.Series(dicono_di_voi)
#Ovviamente gli indici saranno generati automaticamente perche non gli abbiamo specificato nulla
#Altrettanto ovvio e che se noi non andiamo a salvare questo oggetto in nessuna variabile l'ogetto andrà perso
#L'assegnazione viene eseguita normalmente come qualunque altra assegnazione
ragazzi = pd.Series(dicono_di_voi)
ragazzi

0           Bravi
1         Attenti
2    Intelligenti
3       Brillanti
dtype: object

In [15]:
# Ora cerchiamo di capire qual'è la differenza sostanziale tra attributi e metodi

# values mostra i valori interni alla serie e ne creerà un array monodimensionale, ricordiamo che inoltre si sta 
#parlando di un attributo il che significa che non manipolerà in alcun modo quei valori
ragazzi.values

array(['Bravi', 'Attenti', 'Intelligenti', 'Brillanti'], dtype=object)

In [16]:
ragazzi.index
#index mi permette di controllare l'indice della nostra Series, ci indica l'inizio dell'indice ( START)
# la fine dell'indice ( STOP) e il passo di incremento ( STEP )

RangeIndex(start=0, stop=4, step=1)

In [21]:
ragazzi.dtype
# dtype in questo caso specifico mi spacchetta quello che è il mio oggetto Series e me ne torna il tipo

dtype('O')

# Vediamo i metodi

In [6]:
# il primo metodo interessante sulle series è il metodo sum il quale ci torna la sommma di tutti quelli che sono i 
 # i numeri interni alla serie
prezzi = [2.99,4.45,1.45]
pd.Series(prezzi)
s = pd.Series(prezzi)
s.sum()

8.89

In [7]:
# abbiamo poi il metodo che mi permette di eseguire le moltiplicazioni
s.product()

19.292975000000002

In [8]:
# e infine un ultimo metodo giusto per darvi un assaggio di ciò che può fare questa libreria
s.mean()
# mean mi ritorna quello che è la media della seriss

2.9633333333333334

In [17]:
frutta = ["Mele","Banane","Lamponi","Arance"]
giorni_settimana = ["Lunedi","Martedi","Mercoledì","Giovedì"]
# pd.Series()
# Ora premendo il tasto maiuscolo + il tasto TAB uscirà quella che è la documentazione relativa al metodo Series
# Come potete notare vi fa vedere i cosidetti parametri e se ci fate bene caso vedete un assegnazione
# Quelli sono i parametri che pandas utilizzerà se non assegnate nulla, ad esempio index = None
# indica che se voi non andate a passare il parametro inizierà a creare l'indice a partire da 0

pd.Series(frutta,giorni_settimana)
pd.Series(data=frutta,index=giorni_settimana)
# Se il numero delle chiavi e dei valori in questo caso non combaciano vi darà un errore di generazione

Lunedi          Mele
Martedi       Banane
Mercoledì    Lamponi
Giovedì       Arance
dtype: object

In [19]:
# Domanda secondo voi gli indici devono essere univoci??
 #NO!
frutta = ["Mele","Banane","Lamponi","Arance","Cocomero"]
giorni_settimana = ["Lunedi","Martedi","Mercoledì","Giovedì","Martedi"]
pd.Series(data=frutta,index=giorni_settimana)

# Ovviamente ponete attenzione al fatto di avere indici duplicati! Questo perchè non vi permetterà di fare
# Ricerche mirate sulla chiave

Lunedi           Mele
Martedi        Banane
Mercoledì     Lamponi
Giovedì        Arance
Martedi      Cocomero
dtype: object

# import Series leggendo da read_csv

In [20]:
# Se rimaniamo con il cursore interno alle parentesi del metodo e schiacciamo nuovamente
# shift tab ci verrà mostrata la documentazione, come potete vedere è immenso quello che ci fa vedere
# tutti questi sono i parametri che possono essere utilizzati nel chiamare questo metodo
# Non so ad esempio skip_blank_lines e mi fa saltare gli spazi bianchi iniziali
# Quante righe vogliamo saltare con skip row, usecols per dire quali colonne vogliamo usare
# Il parametro principale è filepath_or_buffer il che indica il percorso dal quale prendere il file csv

pd.read_csv("pokemon.csv")

# Quello che state attualmente vedendo è un altro oggetto di pandas, chiamato DataFrame

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [22]:
#immaginiamo ora di aver la necessità di utilizzare quella che e solamente la prima colonna di questo dataframe
# per farlo utilizzeremo usecols che accetta come input una lista di parametri che devono necessariamente matchare
# con i nomi delle colonne

# pd.read_csv("pokemon.csv", usecols = ["Pokemon"])

# dal momento che ora abbiamo un dataFrame con un unica colonna  possiamo trasformarlo in serie , per fare ciò 
# utilizziamo squeeze

pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)


# ovviamente non possiamo accedere ad alcun attributo o metodo se prima non lo assegnamo ad una variabile

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [37]:
# Facciamo un altro esempio
pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"] ,squeeze = True)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Esercizio food

In [38]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv",squeeze = True)

In [41]:
# andiamo a vedere altri e due metodi head e tail

# il metodo head ci permette di ritornare le righe a partire dalla prima fino alla riga n
# il metodo inoltre fa di più, legge le righe della series esegue una copia temporanea che può
# essere utilizzata per venire memorizzata all'interno di una variabile
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [42]:
# tail è il metodo complementare, con il quale facciamo ritornare quelle che sono le righe finali
pokemon.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [44]:
# andiamo a vedere quale funzione built-in di python che opera bene con le serie
# questo è possibile perchè ovviamente pandas e ben integrato 

#len
len(pokemon)

721

In [45]:
#sorted -> ordinamento ma attenzione che l0ouptut sarà un array
sorted(pokemon)

['Abomasnow',
 'Abra',
 'Absol',
 'Accelgor',
 'Aegislash',
 'Aerodactyl',
 'Aggron',
 'Aipom',
 'Alakazam',
 'Alomomola',
 'Altaria',
 'Amaura',
 'Ambipom',
 'Amoonguss',
 'Ampharos',
 'Anorith',
 'Arbok',
 'Arcanine',
 'Arceus',
 'Archen',
 'Archeops',
 'Ariados',
 'Armaldo',
 'Aromatisse',
 'Aron',
 'Articuno',
 'Audino',
 'Aurorus',
 'Avalugg',
 'Axew',
 'Azelf',
 'Azumarill',
 'Azurill',
 'Bagon',
 'Baltoy',
 'Banette',
 'Barbaracle',
 'Barboach',
 'Basculin',
 'Bastiodon',
 'Bayleef',
 'Beartic',
 'Beautifly',
 'Beedrill',
 'Beheeyem',
 'Beldum',
 'Bellossom',
 'Bellsprout',
 'Bergmite',
 'Bibarel',
 'Bidoof',
 'Binacle',
 'Bisharp',
 'Blastoise',
 'Blaziken',
 'Blissey',
 'Blitzle',
 'Boldore',
 'Bonsly',
 'Bouffalant',
 'Braixen',
 'Braviary',
 'Breloom',
 'Bronzong',
 'Bronzor',
 'Budew',
 'Buizel',
 'Bulbasaur',
 'Buneary',
 'Bunnelby',
 'Burmy',
 'Butterfree',
 'Cacnea',
 'Cacturne',
 'Camerupt',
 'Carbink',
 'Carnivine',
 'Carracosta',
 'Carvanha',
 'Cascoon',
 'Castform',
 'Caterpie',
 'Celebi',
 'Chandelure',
 'Chansey',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Chatot',
 'Cherrim',
 'Cherubi',
 'Chesnaught',
 'Chespin',
 'Chikorita',
 'Chimchar',
 'Chimecho',
 'Chinchou',
 'Chingling',
 'Cinccino',
 'Clamperl',
 'Clauncher',
 'Clawitzer',
 'Claydol',
 'Clefable',
 'Clefairy',
 'Cleffa',
 'Cloyster',
 'Cobalion',
 'Cofagrigus',
 'Combee',
 'Combusken',
 'Conkeldurr',
 'Corphish',
 'Corsola',
 'Cottonee',
 'Cradily',
 'Cranidos',
 'Crawdaunt',
 'Cresselia',
 'Croagunk',
 'Crobat',
 'Croconaw',
 'Crustle',
 'Cryogonal',
 'Cubchoo',
 'Cubone',
 'Cyndaquil',
 'Darkrai',
 'Darmanitan',
 'Darumaka',
 'Dedenne',
 'Deerling',
 'Deino',
 'Delcatty',
 'Delibird',
 'Delphox',
 'Deoxys',
 'Dewgong',
 'Dewott',
 'Dialga',
 'Diancie',
 'Diggersby',
 'Diglett',
 'Ditto',
 'Dodrio',
 'Doduo',
 'Donphan',
 'Doublade',
 'Dragalge',
 'Dragonair',
 'Dragonite',
 'Drapion',
 'Dratini',
 'Drifblim',
 'Drifloon',
 'Drilbur',
 'Drowzee',
 'Druddigon',
 'Ducklett',
 'Dugtrio',
 'Dunsparce',
 'Duosion',
 'Durant',
 'Dusclops',
 'Dusknoir',
 'Duskull',
 'Dustox',
 'Dwebble',
 'Eelektrik',
 'Eelektross',
 'Eevee',
 'Ekans',
 'Electabuzz',
 'Electivire',
 'Electrike',
 'Electrode',
 'Elekid',
 'Elgyem',
 'Emboar',
 'Emolga',
 'Empoleon',
 'Entei',
 'Escavalier',
 'Espeon',
 'Espurr',
 'Excadrill',
 'Exeggcute',
 'Exeggutor',
 'Exploud',
 "Farfetch'd",
 'Fearow',
 'Feebas',
 'Fennekin',
 'Feraligatr',
 'Ferroseed',
 'Ferrothorn',
 'Finneon',
 'Flaaffy',
 'Flabébé',
 'Flareon',
 'Fletchinder',
 'Fletchling',
 'Floatzel',
 'Floette',
 'Florges',
 'Flygon',
 'Foongus',
 'Forretress',
 'Fraxure',
 'Frillish',
 'Froakie',
 'Frogadier',
 'Froslass',
 'Furfrou',
 'Furret',
 'Gabite',
 'Gallade',
 'Galvantula',
 'Garbodor',
 'Garchomp',
 'Gardevoir',
 'Gastly',
 'Gastrodon',
 'Genesect',
 'Gengar',
 'Geodude',
 'Gible',
 'Gigalith',
 'Girafarig',
 'Giratina',
 'Glaceon',
 'Glalie',
 'Glameow',
 'Gligar',
 'Gliscor',
 'Gloom',
 'Gogoat',
 'Golbat',
 'Goldeen',
 'Golduck',
 'Golem',
 'Golett',
 'Golurk',
 'Goodra',
 'Goomy',
 'Gorebyss',
 'Gothita',
 'Gothitelle',
 'Gothorita',
 'Gourgeist',
 'Granbull',
 'Graveler',
 'Greninja',
 'Grimer',
 'Grotle',
 'Groudon',
 'Grovyle',
 'Growlithe',
 'Grumpig',
 'Gulpin',
 'Gurdurr',
 'Gyarados',
 'Happiny',
 'Hariyama',
 'Haunter',
 'Hawlucha',
 'Haxorus',
 'Heatmor',
 'Heatran',
 'Heliolisk',
 'Helioptile',
 'Heracross',
 'Herdier',
 'Hippopotas',
 'Hippowdon',
 'Hitmonchan',
 'Hitmonlee',
 'Hitmontop',
 'Ho-oh',
 'Honchkrow',
 'Honedge',
 'Hoopa',
 'Hoothoot',
 'Hoppip',
 'Horsea',
 'Houndoom',
 'Houndour',
 'Huntail',
 'Hydreigon',
 'Hypno',
 'Igglybuff',
 'Illumise',
 'Infernape',
 'Inkay',
 'Ivysaur',
 'Jellicent',
 'Jigglypuff',
 'Jirachi',
 'Jolteon',
 'Joltik',
 'Jumpluff',
 'Jynx',
 'Kabuto',
 'Kabutops',
 'Kadabra',
 'Kakuna',
 'Kangaskhan',
 'Karrablast',
 'Kecleon',
 'Keldeo',
 'Kingdra',
 'Kingler',
 'Kirlia',
 'Klang',
 'Klefki',
 'Klink',
 'Klinklang',
 'Koffing',
 'Krabby',
 'Kricketot',
 'Kricketune',
 'Krokorok',
 'Krookodile',
 'Kyogre',
 'Kyurem',
 'Lairon',
 'Lampent',
 'Landorus',
 'Lanturn',
 'Lapras',
 'Larvesta',
 'Larvitar',
 'Latias',
 'Latios',
 'Leafeon',
 'Leavanny',
 'Ledian',
 'Ledyba',
 'Lickilicky',
 'Lickitung',
 'Liepard',
 'Lileep',
 'Lilligant',
 'Lillipup',
 'Linoone',
 'Litleo',
 'Litwick',
 'Lombre',
 'Lopunny',
 'Lotad',
 'Loudred',
 'Lucario',
 'Ludicolo',
 'Lugia',
 'Lumineon',
 'Lunatone',
 'Luvdisc',
 'Luxio',
 'Luxray',
 'Machamp',
 'Machoke',
 'Machop',
 'Magby',
 'Magcargo',
 'Magikarp',
 'Magmar',
 'Magmortar',
 'Magnemite',
 'Magneton',
 'Magnezone',
 'Makuhita',
 'Malamar',
 'Mamoswine',
 'Manaphy',
 'Mandibuzz',
 'Manectric',
 'Mankey',
 'Mantine',
 'Mantyke',
 'Maractus',
 'Mareep',
 'Marill',
 'Marowak',
 'Marshtomp',
 'Masquerain',
 'Mawile',
 'Medicham',
 'Meditite',
 'Meganium',
 'Meloetta',
 'Meowstic',
 'Meowth',
 'Mesprit',
 'Metagross',
 'Metang',
 'Metapod',
 'Mew',
 'Mewtwo',
 'Mienfoo',
 'Mienshao',
 'Mightyena',
 'Milotic',
 'Miltank',
 'Mime Jr.',
 'Minccino',
 'Minun',
 'Misdreavus',
 'Mismagius',
 'Moltres',
 'Monferno',
 'Mothim',
 'Mr. Mime',
 'Mudkip',
 'Muk',
 'Munchlax',
 'Munna',
 'Murkrow',
 'Musharna',
 'Natu',
 'Nidoking',
 'Nidoqueen',
 'Nidoran',
 'Nidoran♂',
 'Nidorina',
 'Nidorino',
 'Nincada',
 'Ninetales',
 'Ninjask',
 'Noctowl',
 'Noibat',
 'Noivern',
 'Nosepass',
 'Numel',
 'Nuzleaf',
 'Octillery',
 'Oddish',
 'Omanyte',
 'Omastar',
 'Onix',
 'Oshawott',
 'Pachirisu',
 'Palkia',
 'Palpitoad',
 'Pancham',
 'Pangoro',
 'Panpour',
 'Pansage',
 'Pansear',
 'Paras',
 'Parasect',
 'Patrat',
 'Pawniard',
 'Pelipper',
 'Persian',
 'Petilil',
 'Phanpy',
 'Phantump',
 'Phione',
 'Pichu',
 'Pidgeot',
 'Pidgeotto',
 'Pidgey',
 'Pidove',
 'Pignite',
 'Pikachu',
 'Piloswine',
 'Pineco',
 'Pinsir',
 'Piplup',
 'Plusle',
 'Politoed',
 'Poliwag',
 'Poliwhirl',
 'Poliwrath',
 'Ponyta',
 'Poochyena',
 'Porygon',
 'Porygon-Z',
 'Porygon2',
 'Primeape',
 'Prinplup',
 'Probopass',
 'Psyduck',
 'Pumpkaboo',
 'Pupitar',
 'Purrloin',
 'Purugly',
 'Pyroar',
 'Quagsire',
 'Quilava',
 'Quilladin',
 'Qwilfish',
 'Raichu',
 'Raikou',
 'Ralts',
 'Rampardos',
 'Rapidash',
 'Raticate',
 'Rattata',
 'Rayquaza',
 'Regice',
 'Regigigas',
 'Regirock',
 'Registeel',
 'Relicanth',
 'Remoraid',
 'Reshiram',
 'Reuniclus',
 'Rhydon',
 'Rhyhorn',
 'Rhyperior',
 'Riolu',
 'Roggenrola',
 'Roselia',
 'Roserade',
 'Rotom',
 'Rufflet',
 'Sableye',
 'Salamence',
 'Samurott',
 'Sandile',
 'Sandshrew',
 'Sandslash',
 'Sawk',
 'Sawsbuck',
 'Scatterbug',
 'Sceptile',
 'Scizor',
 'Scolipede',
 'Scrafty',
 'Scraggy',
 'Scyther',
 'Seadra',
 'Seaking',
 'Sealeo',
 'Seedot',
 'Seel',
 'Seismitoad',
 'Sentret',
 'Serperior',
 'Servine',
 'Seviper',
 'Sewaddle',
 'Sharpedo',
 'Shaymin',
 'Shedinja',
 'Shelgon',
 'Shellder',
 'Shellos',
 'Shelmet',
 'Shieldon',
 'Shiftry',
 'Shinx',
 'Shroomish',
 'Shuckle',
 'Shuppet',
 'Sigilyph',
 'Silcoon',
 'Simipour',
 'Simisage',
 'Simisear',
 'Skarmory',
 'Skiddo',
 'Skiploom',
 'Skitty',
 'Skorupi',
 'Skrelp',
 'Skuntank',
 'Slaking',
 'Slakoth',
 'Sliggoo',
 'Slowbro',
 'Slowking',
 'Slowpoke',
 'Slugma',
 'Slurpuff',
 'Smeargle',
 'Smoochum',
 'Sneasel',
 'Snivy',
 'Snorlax',
 'Snorunt',
 'Snover',
 'Snubbull',
 'Solosis',
 'Solrock',
 'Spearow',
 'Spewpa',
 'Spheal',
 'Spinarak',
 'Spinda',
 'Spiritomb',
 'Spoink',
 'Spritzee',
 'Squirtle',
 'Stantler',
 'Staraptor',
 'Staravia',
 'Starly',
 'Starmie',
 'Staryu',
 'Steelix',
 'Stoutland',
 'Stunfisk',
 'Stunky',
 'Sudowoodo',
 'Suicune',
 'Sunflora',
 'Sunkern',
 'Surskit',
 'Swablu',
 'Swadloon',
 'Swalot',
 'Swampert',
 'Swanna',
 'Swellow',
 'Swinub',
 'Swirlix',
 'Swoobat',
 'Sylveon',
 'Taillow',
 'Talonflame',
 'Tangela',
 'Tangrowth',
 'Tauros',
 'Teddiursa',
 'Tentacool',
 'Tentacruel',
 'Tepig',
 'Terrakion',
 'Throh',
 'Thundurus',
 'Timburr',
 'Tirtouga',
 'Togekiss',
 'Togepi',
 'Togetic',
 'Torchic',
 'Torkoal',
 'Tornadus',
 'Torterra',
 'Totodile',
 'Toxicroak',
 'Tranquill',
 'Trapinch',
 'Treecko',
 'Trevenant',
 'Tropius',
 'Trubbish',
 'Turtwig',
 'Tympole',
 'Tynamo',
 'Typhlosion',
 'Tyranitar',
 'Tyrantrum',
 'Tyrogue',
 'Tyrunt',
 'Umbreon',
 'Unfezant',
 'Unown',
 'Ursaring',
 'Uxie',
 'Vanillish',
 'Vanillite',
 'Vanilluxe',
 'Vaporeon',
 'Venipede',
 'Venomoth',
 'Venonat',
 'Venusaur',
 'Vespiquen',
 'Vibrava',
 'Victini',
 'Victreebel',
 'Vigoroth',
 'Vileplume',
 'Virizion',
 'Vivillon',
 'Volbeat',
 'Volcanion',
 'Volcarona',
 'Voltorb',
 'Vullaby',
 'Vulpix',
 'Wailmer',
 'Wailord',
 'Walrein',
 'Wartortle',
 'Watchog',
 'Weavile',
 'Weedle',
 'Weepinbell',
 'Weezing',
 'Whimsicott',
 'Whirlipede',
 'Whiscash',
 'Whismur',
 'Wigglytuff',
 'Wingull',
 'Wobbuffet',
 'Woobat',
 'Wooper',
 'Wormadam',
 'Wurmple',
 'Wynaut',
 'Xatu',
 'Xerneas',
 'Yamask',
 'Yanma',
 'Yanmega',
 'Yveltal',
 'Zangoose',
 'Zapdos',
 'Zebstrika',
 'Zekrom',
 'Zigzagoon',
 'Zoroark',
 'Zorua',
 'Zubat',
 'Zweilous',
 'Zygarde']

In [46]:
type(pokemon)

pandas.core.series.Series

In [59]:
list (pokemon)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

# Iniziamo a vedere quelli che possono essere attributi un po più corposi

In [64]:
#Ricordiamoci innanzitutto che abbiamo la funzione values che ci fa vedere i valori delle colonne
google.values
pokemon.values

# anche dtypes è molto importante che ci ricorda di che tipo è il set dei dati
google.dtype

dtype('float64')

In [66]:
# passiamo invece a un attributo che è importantissimo nell'analisi dei dati
# is_unique ci mostrerà se ci sono duplicati all'interno della nostra series
# Se torna TRUE indica che effettivamente non ci sono duplicati
pokemon.is_unique
google.is_unique

False

In [67]:
# Restituisce una tupla che rappresenta la dimensionalità di DataFrame.
# chiamandolo sul nostro set di dati ovviamente il secondo parametro rimarrà vuoto
# questo perchè abbiamo un unica colonna e quindi non viene segnata
# quando andremo a chiamarlo su un dataframe completo vedremo le differenze
pokemon.shape

(721,)

In [71]:
# ci torna quello che è il nome della series, una cosa carina di questo attrbiuto e che può
# essere modificato, ad esempio, andando a chiamare semplicemente pokemon notiamo che il nome della serie
# è effettivamente pokemon, ma se lo andiamo ad assegnare il nome cambierà
pokemon.name

pokemon


pokemon.name = "Pokemon nuovi"

pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon nuovi, Length: 721, dtype: object

In [77]:
# abbiamo visto precedentemente il metodo sorted built-in di python, andiamo a vedere ora quello che e il metodo
# di pandas per eseguire degli ordinamenti, possiamo ordinare in due modi principalmente:
pokemon.sort_values()
pokemon.sort_index()

# ricordatevi inoltre che questi metodi pandas danno vita a nuovi oggetti series nel quale è possibile chiamare
# altri metodi creando una sorta di concatenazione, ad esempio

pokemon.sort_values().head(5)

# ovviamente pokemon.sort_values ha i suoi attributi che indicano come deve essere ordinata la serie
# infatti andando a controllare gli attributi ammessi notiamo che di default ascending è a True per cui e in ordine 
# ascendente, se vogliamo ordinare in modo discendente basta inserire ascending = false

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon nuovi, dtype: object

In [80]:
# per quali motivi potrebbero essere utili questi ordinamenti, bhe ad esempio per capire qual'è stato
# il prezzo più alto di un azione google
google.sort_values(ascending = False).head(1)

#ovviamente tutto ciò non ha minimamente modificato quella che è la seires principale

3011    782.22
Name: Stock Price, dtype: float64

# parametro inplace

In [84]:
#fin'ora abbiamo detto che gli ordinamenti che sono stati eseguiti non hanno intaccato minimamente la seire principale
# e tutto ciò è vero, ma se volessimo invece sostituire quella che e la serie principale con la seria
# aggiornata come possiamo fare? Bhe in questo caso possiamo o rieseguire un assegnazione della serie ordinata
# ma il tutto non è ottimizzato o altrimenti ci viene in aiuto il parametro inplace
google.sort_values(ascending = False, inplace = True)
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [89]:
#nel caso precedente ci siamo fermati a eseguire un riordinamento in base ad i valori, ma effettivamente
# che cosa notiamo? Bhe che gli indici sono tutti sfalzati, quindi abbiamo sbagliato a capovolgere la lista
# per capovolgere la lista basta essere un po furbi e ripetere la stessa cosa sugli indici no?!
google.sort_index(ascending = False, inplace = True)
google

3011    782.22
3010    771.61
3009    773.18
3008    771.07
3007    772.88
         ...
4        52.95
3        52.38
2        54.65
1        54.10
0        50.12
Name: Stock Price, Length: 3012, dtype: float64

# esercizio sorted

In [93]:
# adiamo a vedere quella che è un'altra funzione built-in di python importantissima
# in, in ci permette di controllare se un determinato valore è all'interno di un array,Series,DataFrame etc

100 in [5,100,7,8]

#allo stesso modo posso fare con una Serie, quindi vi chiedo se povassimo a scrivere qualcosa del tipo.... cosa esce?
"Bulbasaur" in pokemon

# il risultato in questo caso è false perchè pandas di default esegue la ricerca sulle chiavi e non sui valori
# possiamo però sistemare la cosa dicendo a pandas che effettivamente deve cercare all'interno dei valori
# e per fare ciò possiamo usare l'attributo values per controllare i valori

"Bulbasaur" in pokemon.values

# quindi potete tranquillamente usare la funzionalità o meglio l'operatore in per controllare la presenza di un valore
# senza prestar attenzione a dove si trova

True

In [96]:
# andiamo a vedere ora come eseguire le estrazione di un determinato valore in base alla sua posizione,
# in base al suo indice, per fare ciò andiamo ad utilizzare quella che e chiamata bracket notation
# non è altro che il passaggio dell'indice tra parentesi quadre quindi non mettetevi paura che non e niente di strano
pokemon[100]

# per controllare la veridicità facciamone una un po più rapida da visualizzare

pokemon.head(5)
pokemon[3]

'Charmander'

In [103]:
# e se vogliamo estrarre quelli che sono i valori di più indici simultaneamente? Bhe non ci sono problemi, basterà
# eseguire una nested bracket quindi una coppia di parentesi quadra dentro l'altra
pokemon[[100,3,570]]

# possiamo anche estrarre i valori che vanno da una posizione ad un'altra utilizzando i due punti
pokemon[100:150]

#notate che i due punti sono l'operatore di slicing il che consente di partire dal primo numero, fino all'ultimo
# escluso!

# è possibile anche eseguire uno slicing diverso ad esempio.... il che mi farà vedere dal 100 in poi
pokemon[100:]
# è possibile fare anche il contrario ovviamente pokemon[:100]

100    Electrode
101    Exeggcute
102    Exeggutor
103       Cubone
104      Marowak
         ...
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, Length: 621, dtype: object

In [116]:
# abbiamo visto come estrarre valori in base alla POSIZIONE dell'indice, andiamo ora effettivamente a capire
# come eseguire un estrazione da un set di dati contenente delle etichette
# pd.read_csv("pokemon.csv") l'output di questo dataset non è altro che un DataFrame che possiamo modellare
# ad esempio se vogliamo che il nome dei pokemon diventino quelli che chiamiamo indici utilizziamo
pokemon=pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze = True)
# la particolarità ora e che possiamo ovviamente usare gli indici per eseguire delle ricerche

pokemon["Bulbasaur"]
#ovviamente uscirà Grass perchè ora i dati sono il tipo del pokemon, vi faccio notare che inoltre
# che pokemon[0] darebbe lo stesso risultato, questo perchè bulbasaur è il primo della lista e quindi di pos 0
# è possibile ancora una volta utilizzare la nested bracket per cercare + indici
pokemon[["Bulbasaur","Ditto"]]
# altrettanto se voglio vedere i pokemon da Ditto in po eseguo semplicemente slicing
pokemon["Ditto":]
# nella bracket notation oltre che il parametro finale e iniiale può essere specificato anche il passo di incremento
pokemon["Ditto":"Diancie":5]

Pokemon
Ditto           Normal
Porygon         Normal
Aerodactyl        Rock
Dratini         Dragon
Chikorita        Grass
                ...
Tyrantrum         Rock
Dedenne       Electric
Klefki           Steel
Bergmite           Ice
Yveltal           Dark
Name: Type, Length: 118, dtype: object

In [119]:
# per essere estratte tutte le etichette devono essere presenti all'interno del set di dati altrimenti vi darà errore
# esiste però un comando da relativamente poco che ci permette in ogni caso di inserire all'interno della nostra 
# series una nuova etichetta temporanea
pokemon.reindex(index = ["Bulbasaur","Mia_Etichetta"])
# come notato è stato inserito il valore NaN sulla nuova etichetta il che indica l'assenza di informazione
# questo metodo reindex io ve lo consiglio al posto di fare una ricerca "normale" sull'etichetta perchè
# evita l'errore di cui abbiamo appena parlato

Pokemon
Bulbasaur        Grass
Mia_Etichetta      NaN
Name: Type, dtype: object

# esercizio extract

In [130]:
# andiamo a vedere quello che può essere un altro modo per eseguire un estrazione,questa volta ci facciamo aiutare dal 
# metodo get -> il parametro key mi indica l'etichetta o l'indice che devo passare 
pokemon.get(0)
pokemon.get("Charmander")
pokemon.get([5,100])

# notate che se andiamo a dare in input un etichetta o un indice inesistente l'editor non ci darà nessun errore
# o messaggio, questo perchè di default panda torna None , per personalizzare questo ritorno e capire che effettivamente
# il codice sta funzionando ma non torna nulla andiamo a modificare quello che è il secondo parametro sulla funzione get
pokemon.get("Digimon",default ="Non è un pokemon")

'Non è un pokemon'

In [137]:
google.sort_index(ascending=True, inplace = True)
google

#andiamo ora a vedere un paio di metodi matematici che sicuramente ci aiuteranno, il primo in questo caso è
# count, probabilmente il più famoso.. conta semplicemente il numero di righe della series
google.count()
# sapete la differenza tra count e len? o se non la sapete quale potrebbe essere secondo voi?

# count calcola anche i valori nulli, mentre len no

#std torna la deviazione standard, il che dovrebbe essere la media di quanto ci si discosta dalla media
google.std()

#mode torna il valore che è presente con maggior freqenza all'interno della series
google.mode()


#metodo describe che esegue fondamentalmente un riassunto degli operatori matematici più utilizzati

google.describe()
#25% indica in questo caso che il 25% dei valori sono al di sotto dei 218 euro o dollari
# 50% e 75% uguale

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [141]:
# andiamo a vedere ora come contare il numero di occorrenze di un particolare valore all'interno della nostra Series
# per fare ciò utilizziamo il metodo .value_counts()
pokemon.value_counts() # è possibile anche eseguire la sort inserendo ascending = True

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [143]:
# andiamo a vedere il metodo apply, il metodo apply in pandas ci permette di applicare una funzionalità definita
# dall'utente o built-in ad ogni riga della nostra Series, ipotizziamo ad esempio di voler classificare le transazioni
# google facciamo una funzione nostra

def classificazione(number):
    if number < 300:
        return "Ok"
    elif number >= 300 and number <650:
        return "Soddisfacente"
    else:
        return "Straordinaria"

In [144]:
google.apply(classificazione)

0                  Ok
1                  Ok
2                  Ok
3                  Ok
4                  Ok
            ...
3007    Straordinaria
3008    Straordinaria
3009    Straordinaria
3010    Straordinaria
3011    Straordinaria
Name: Stock Price, Length: 3012, dtype: object

In [145]:
# è possibile passare anche una cosidetta funzione anonima, ovvero una funzione senza nome che viene utilzizata 
# spesso per fare operazioni velocissime
google.apply(lambda stock_price : stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [4]:
# andiamo a vedere l'ultima funzione che riguarda le serie che è la funzione map, tramite questa funzione e possibile 
# ottenere una corrispondenza da due series diverse e maparle in un unica series

pokemon_names = pd.read_csv("pokemon.csv",usecols = ["Pokemon"], squeeze = True)
pokemon_names.head(4)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
Name: Pokemon, dtype: object

In [5]:
pokemon_types = pd.read_csv("pokemon.csv",index_col = "Pokemon", squeeze = True)
pokemon_types.head(4)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [6]:
pokemon_names.map(pokemon_types)
# è molto utilizzata quando dovete mappare delle informazioni provenienti da un altro set di dati e volete
# averne una mappatura

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object

# Esercizi Series